

.song-entry {
    margin-top: 2rem;
    border-bottom: 1px solid #eee;
    padding-bottom: 2rem;
}



.song-meta {
    display: grid;
    grid-template-columns: 100px 1fr; 
    gap: 5px 15px; 
    margin-bottom: 20px;
    font-size: 0.95rem;
}

.song-meta dt {
    font-weight: 600; 
    color: #555;
}

.song-meta dd {
    margin-left: 0;
    color: #000;
}


.custom-player {
    width: 100%;
    margin-top: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Shadow yang lebih jelas */
    background-color: #f0f0f0; /* Warna latar sedikit abu-abu */
}


.lyrics-container {
    margin-top: 2.5rem;
}

.lyrics-container h3 {
    font-size: 1.4rem;
    color: #333;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}

.lyrics {
    margin-top: 1rem;
    padding: 25px;
    background-color: #f8f9fa; 
    border-radius: 12px; 
    font-family: monospace; 
    font-style: italic;
    color: #444;
    line-height: 2; 
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05); 
}

.lyrics p {
    margin-bottom: 1.8rem; 
}


.song-explanation {
    margin-top: 2.5rem;
}

.song-explanation h3 {
    font-size: 1.4rem;
    color: #333;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}

.song-explanation p {
    color: #444;
    line-height: 1.8;
    margin-top: 1rem;
}
